<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Email</title>
</head>

<body>
    <p></p>Dear Customer,</p>
    <br/>
    <p>You're just one step away from unlocking all the cool features of Hamza! This email is to ensure 
        that we got the correct email address and it belongs to you. Please confirm by clicking the following link:
    </p>
    <br />
<%-data.url%>
    <br/><br/>
    <p>We're pleased to let you know that your account has been successfully 
        verified and you can now start shopping on <a href="https://hamza.market">Hamza - The World's First Decom Marketplace</a>.</p>
    <p>In case you encounter any issues or need assistance, don't hesitate to drop us an email at <a
        href="mailto:support@hamza.market">support@hamza.market</a></p>
    <br />
    <p>If you did not request this confirmation, no further action is required. However, 
        if you believe this is a mistake, feel free to contact the Hamza team.</p>
    <br />
    Thanks, <br />
    The Hamza Team<br />
    <img src="https://images.hamza.market/logo/small.png" />
</body>

</html>